@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.login-button {
		@apply relative font-arial content-center h-20 w-20 rounded-full grid
		bg-gradient-to-tr from-thread-blue from-15% to-process-green
		text-2xl text-white leading-none;
	}

	.login-hover {
		@apply scale-110 font-bold;
	}

	.main-title {
		@apply text-7xl p-4 text-center font-bold bg-gradient-to-tr from-process-green from-25% to-thread-blue to-75% bg-clip-text text-transparent;
	}

	.gold-league {
		@apply bg-[radial-gradient(ellipse_at_top_left,_var(--tw-gradient-stops))] from-gold-100 from-35% via-gold-500 to-gold-300 to-95%;
	}

	.copper-league {
		@apply bg-[radial-gradient(ellipse_at_top_left,_var(--tw-gradient-stops))] from-copper-100 from-35% via-copper-400 to-copper-300 to-95%;
	}

	.silver-league {
		@apply bg-[radial-gradient(ellipse_at_top_left,_var(--tw-gradient-stops))] from-silver-100 from-35% via-silver-200 to-silver-300 to-95%;
	}

	
	.screen {
		border: 3px solid rgba(0, 0, 0, 0.5);
		
	}

	.screen-overlay {
		background: linear-gradient(
			rgba(0,0,0,0.1),
			rgba(0,0,0,0.1) 2px,
			transparent 2px,
			transparent 4px
		);
		height: 100%;
		width: 100%;
		overflow: hidden;
		background-size: 100% 4px;
		animation: pan-overlay 84s infinite linear;
	}

	.nav-bar {
		display: flex;
		justify-self: center;
		justify-content: space-between;
	}
	
	.nav-bar li:nth-of-type(1) {
		padding-left: 2%;
	}

	.nav-bar li:nth-of-type(2) {
		padding-right: 2%;
	}

	.text-2xs {
		font-size: 0.625rem;
		line-height: 0.75rem;
	}

	.test-gradient {
		background: #414d0b; 
		background: -webkit-linear-gradient(to right, #414d0b, #727a17);
		background: linear-gradient(to right, #414d0b, #727a17);
	}

}

@layer utilities {
	.animation-delay-2000 {
		animation-delay: 2s;
	},
	.animation-delay-4000 {
		animation-delay: 4s;
	}
}

@keyframes pan-overlay {
	from {
		background-position: 0% 0%;
	}
	to {
		background-position: 0% -100%;
	}
	
}